name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - run: export k=kkk
    - run: echo ${k}
    - uses: xiaozhi747/action-test@main
      name: lz-plugin
    - run: echo ${k}
